<div class="navigation">
  x: {{currentX | number:'1.1-2'}} y: {{currentY | number:'1.1-2'}}
  <br>
  <button (click)="onNavigate('left', navigationMultiplier)"><</button> <button (click)="onNavigate('right', navigationMultiplier)">></button><br>
  <button (click)="onNavigate('up', navigationMultiplier)">/\</button> <button (click)="onNavigate('down', navigationMultiplier)">\/</button>
</div>
<canvas id="game"
        [width]="viewportX*tileW"
        [height]="viewportY*tileH"
        (mousedown)="onClick($event)"
        (mouseup)="activeDragging = false"
        (mouseout)="activeDragging = false"
        (mousemove)="dragMap($event)">
</canvas>
